:root {
    --primary: #FFF8F0;
    --secondary: #1E1E24;
    --accent: #A40000;
    --primary-rbg: 255, 248, 240;
    --secondary-rbg: 30, 30, 36;
    --accent-rbg: 164, 0, 0;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    margin: 100px;
}

.loud {
    font-size: 35px;
    padding: 30px;
}


.Carousel {
    background: var(--primary);
    height: 400px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 8px solid var(--accent);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    place-items: center;
}

.slides {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-2 {
    animation-delay: 4s;
}

.slide-3 {
    animation-delay: 8s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20%,
    30% {
        opacity: 1;
        scale: 1.03;
    }

    50% {
        opacity: 0;
    }
}


.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    border: solid var(--accent);
    text-align: center;
}

 /* styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #dddddd;
  }
  