:root {
    --primary: #FFF8F0;
    --secondary: #1E1E24;
    --accent: #A40000;
    --primary-rbg: 255, 248, 240;
    --secondary-rbg: 30, 30, 36;
    --accent-rbg: 164, 0, 0;
}

body {
    background-color: var(--primary);
    margin: 10px 50px 10px 50px;
    padding: 15px;
}

/* Styles for Navbar */
.loud {
    font-size: 50px;
    padding: 30px;
    font-family: Bebas Neue;
    color: var(--secondary);
}

.loud:hover {
    color: var(--accent);
}

.navbar-brand {
    color: var(--secondary) !important;
}

.logo {
    background: #FFF8F0;
    background-size: con
}


/* Styles for general site content */
.head {
    font-family: Bebas Neue;
    color: var(--accent);
}

.text {
    font-family: Roboto Condensed;
    color: var(--secondary);
}

.noChange {
    font-family: Roboto Condensed;
    color: #1E1E24;
}

/* Styles for submit button */
.btn {
    background-color: var(--accent);
    color: var(--primary);
}

.btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

/* Carousel styles */
.Carousel {
    background: var(--primary);
    height: 75vh;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 8px solid var(--accent);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    place-items: center;
}

.slides {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-2 {
    animation-delay: 4s;
}

.slide-3 {
    animation-delay: 8s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes slide-show {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20%,
    30% {
        opacity: 1;
        scale: 1.03;
    }

    50% {
        opacity: 0;
    }
}

/* Employee information */
.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    border: solid var(--accent) 5px;
    text-align: center;

    margin: 50px 10px 50px 10px;
}

.paragraph-text {
    font-size: 25px;
}

.card-text {
    font-size: 17px;
    position: relative;
}

/* styles for the table */
.table-label {
    font-family: Bebas Neue;
    font-size: 25px;
    color: var(--secondary);
}

.dropdown-data {
    font-family: Roboto Condensed;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid var(--secondary) !important;
}

th,
td {
    padding: 8px;
    border: 2px solid var(--secondary) !important;
    text-align: left;

    font-family: Roboto Condensed;
}

th {
    background-color: var(--accent) !important;
    font-family: Bebas Neue;
    color: var(--primary) !important;
    font-size: 30px;
}

tr {
    font-size: 15px;
}

tr:nth-child(odd) {
    background-color: var(--secondary) !important;
    color: var(--primary) !important;
}

tr:nth-child(even) {
    background-color: var(--primary) !important;
    color: var(--secondary);
}

tr:hover {
    background-color: #dddddd !important;
}


tr:nth-child(odd) {
    color: var(--primary) !important;
}

tr:hover {
    background-color: #ffcccc !important;
    color: var(--secondary) !important;
}

/* Styles for email */
.contact-content {
    width: 700px;
    height: 250px;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact {
    list-style-type: none;
}

iframe {
    margin: auto;
    display: block;
    padding: 15px;
    margin-top: 5px;
}

/* Dark mode */
.switch-label {
    width: 125px;
    height: 50px;
    margin: auto;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgb"0, 0, 0.4", inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.switch-label:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 10px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgb"0, 0, 0.2";
    transition: 0.3s;
}

.switch-input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.switch-input:checked+.switch-label {
    background: #242424;
}

.switch-input:checked+.switch-label:after {
    left: 115px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.switch-label:active:after {
    width: 115px;
}

.dark-mode-label {
    text-align: center;
}

/* Footer with icons */
footer {
    height: 15vh;
    background-color: var(--primary);
    font-size: 30px;
    padding: 70px;
}

.icons {
    display: flex;
    justify-content: space-around;
    padding: 70px 0;
    font-size: 30px;
}

.fa-brands:hover {
    color: var(--accent);
}